body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
}

body {
    background-color: white;
    margin-left:10%;
    margin-right:10%;
    text-align: center;
}



.vis-container {
    margin: 300 auto;
    width: 100%;
    text-align: center;
}


.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 10px;
}

.description-left {
    padding-right: 10px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}

.center {
    text-align: center;
    
  }